@import url("https://dsans.davidstudios.uk/css2.css");


@font-face {
  font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Italic.ttf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Bold.ttf');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
} 

@font-face {
	font-family: eulexia;
	src: url('http://dyslexicfonts.com/fonts/eulexia.ttf');
} 

:root[data-theme="dark"] {
  --text-color: #ffffff;
  --bg-color: #2f2f2f;
  --bg-color-darker: #000000;
  --invert: 0;
}

:root[data-theme="light"] {
  --text-color: #000000;
  --bg-color: #f0f0f0;
  --bg-color-darker: #fff;
  --invert: 1;
}

body {
  background-image: url("wp.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text-color);
  font-family: "DSans Regular", system-ui, 'opendyslexic', sans-serif;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
}
.hidden {
  display: none;
}
.wb-body {
  background-color: #202020;
}
.wb-full {
  display: none;
  background-color: var(--bg-color);
  
  backdrop-filter: blur(30px);
  
}
.winbox.eclipsemono {
  background: var(--bg-color-darker);
}
.winbox.eclipselock {
  background: var(--bg-color-darker);
}
.winbox.eclipselock .wb-body {
  color: var(--text-color);
  background: var(--bg-color-darker);
}

.winbox.eclipsemono .wb-body {
  color: var(--text-color);
  background: var(--bg-color);
}
.winbox.eclipsemono .wb-title {
  color: var(--text-color);
}
.winbox.eclipsemono .wb-control {
  filter: invert(var(--invert));
}
.bar {
  position: fixed;
  height: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0.9;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.bar p {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.bar span {
  margin-right: 10px;
}

.context-menu {
  position: fixed;
  text-align: center;
  background: #0e0f0f;
  border: 1px solid black;
  z-index: 999999;
}

.context-menu {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.context-menu a {
  padding-bottom: 7px;
  padding-top: 7px;
  border: 1px solid #2f2f2f;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.context-menu a:hover {
  background-color: #1d1e1f;
}

button, input {
  appearance: none;
  font: inherit;
  padding: 6px 12px;
  border-radius: 4px;
  color: #ffffff;
  background: #1d1e1f;
  border: 1px solid #2f2f2f;
  outline: none;
  cursor: pointer;
}
button:hover, input:hover {
  background-color: #1d1e1f;
}
select {
  font: inherit;
  padding: 6px 12px;
  border-radius: 4px;
  color: #ffffff;
  background: #1d1e1f;
  border: 1px solid #2f2f2f;
  outline: none;
  cursor: pointer;

}
select:hover {
  background-color: #1d1e1f;
}

