@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('./Assets/fonts/Inter-Regular.woff2')
}

@font-face {
  font-family: 'ReadexPro';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./Assets/fonts/ReadexPro-Regular.ttf')
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('./Assets/fonts/UbuntuMono-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  user-select: none;
  font-family: 'Inter', 'ReadexPro';
  overflow: hidden;
}

#desktop {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  color: white;
}

#bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(./Assets/Void.jpg);
  background-size: cover;
  z-index: -5;
}

#lock {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(./Assets/Void.jpg);
  background-size: cover;
  z-index: -6;
}

.smst {
  transition: 0.5s;
}

.smst:hover {
  filter: brightness(1.2);
}

.lt {
  font-weight: initial;
  font-size: 160px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 140px;
  text-align: center;
}

.ut {
  position: absolute;
  color: white;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons button {
  min-width: 136px !important;
  border-radius: 2px;
  border: none;
}

.display {
  font-family: Menlo;
  font-size: 18px;
  background-color: #e6e6e6;
  width: 99%;
  border-radius: 3px !important;
  color: black;
}

.ld {
  font-size: 20px;
  font-weight: 100;
  color: white;
  position: absolute;
  left: 30px;
  top: 30px;
}

button, input {
    background-color: black;
    color: white;
    border: 2px solid gray;
    height: 32px;
    min-width: 200px;
    font: inherit;
    border-radius: 99px;
    cursor: var(--cursor-pointer), auto;
    transition: 0.3s;
}

button:hover {
    background-color: #5f5f5f;
}

.taskbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: 2px solid #4a4b5033;
    background-color: rgba(86, 85, 88, 0);
    backdrop-filter: brightness(0.7)blur(10px);
    display: flex;
    align-items: center !important;
    align-self: center !important;
    gap: 10px;
    padding-left: 20px;
}

.taskbar-apps {
  display: flex;
  gap: 10px;
}

#sem {
  position: absolute;
  bottom: 70px;
  left: 20px;
  backdrop-filter: blur(15px) brightness(0.5);
  transition: opacity 0.2s ease;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: scroll;
}

.date {
  color: white;
  text-align: right;
  position: absolute;
  right: 40px;
  line-height: 15px;
}

#spotlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -4;
}

.watermark {
  position: absolute;
  top: 50%;
  font-size: 104px;
  line-height: 4px;
  opacity: 0.4;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes popUp {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popDown {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

.window-titlebar {
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.window-content {
  padding: 10px;
}

.window-buttons {
  padding: 10px;
  display: flex;
  gap: 5px;
}

.window-buttons button {
  padding: 5px;
  cursor: pointer;
}
  
  .window {
    position: absolute;
    width: 600px;
    min-height: 300px;
    background-color: #1e1e1e;
    border: 1px solid #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    opacity: 0;
    transform: scale(0.5);
    color: white;
    display: initial !important;
}

.window-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    height: 15px;
    background-color: #2c2c2c;
    border-bottom: 1px solid #444;
    color: #ffffff;
    font-weight: bold;
}

.window.maximized {
  height: calc(100% - 56px) !important;
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
    border-radius: 0;
    position: absolute;
    background-color: #1e1e1e;
    z-index: 9999;
  }

.window-header .close-btn {
    position: absolute;
    right: 0;
    cursor: pointer;
    background: linear-gradient(135deg, #a90329 0%,#8f0222 44%,#6d0019 100%);
    color: #ffffff; /* Light text color for contrast */
    border: none;
    border-radius: 3px;
    font-weight: 100;
    min-width: 25px !important;
    height: 100%;
}
.window-header .close-btn:hover {
    filter: brightness(1.2);
}

  .window-body {
  padding: 20px;
  overflow-y: auto !important;
  overflow-x: auto;
  }
  
  /* Opening animation using popUp */
  .window.open {
    animation: popUp 0.3s forwards; /* Duration of 0.4s */
  }
  
  /* Closing animation using popDown */
  .window.close {
    animation: popDown 0.3s forwards;
  }

  .resize-handle {
    position: absolute;
    background-color: #444; /* Darker background color for the resize handle */
    z-index: 1;
    width: 10px; /* Optional: Set width for better visibility */
    height: 10px; /* Optional: Set height for better visibility */
    border-radius: 2px; /* Optional: Slight rounding for aesthetics */
}

  
  /* Corner handles */
  .resize-handle.top-left,
  .resize-handle.top-right,
  .resize-handle.bottom-left,
  .resize-handle.bottom-right {
    width: 3px;
    height: 3px;
  }
  
  /* Side handles */
  .resize-handle.top,
  .resize-handle.bottom {
    width: 100%;
    height: 3px;
  }
  
  .resize-handle.left,
  .resize-handle.right {
    height: 100%;
    width: 3px;
  }
  
  /* Positioning each handle */
  .resize-handle.top-left {
    top: -3px;
    left: -3px;
    cursor: nwse-resize;
    opacity: 0;
  }
  
  .resize-handle.top-right {
    top: -3px;
    right: -3px;
    cursor: nesw-resize;
    opacity: 0;
  }
  
  .resize-handle.bottom-left {
    bottom: -3px;
    left: -3px;
    cursor: nesw-resize;
    opacity: 0;
  }
  
  .resize-handle.bottom-right {
    bottom: -3px;
    right: -3px;
    cursor: nwse-resize;
    opacity: 0;
  }
  
  .resize-handle.top {
    top: -5px;
    left: 0;
    cursor: ns-resize;
    opacity: 0;
  }
  
  .resize-handle.bottom {
    bottom: -5px;
    left: 0;
    cursor: ns-resize;
    opacity: 0;
  }
  
  .resize-handle.left {
    left: -5px;
    top: 0;
    cursor: ew-resize;
    opacity: 0;
  }
  
  .resize-handle.right {
    right: -5px;
    top: 0;
    cursor: ew-resize;
    opacity: 0;
  }

  .notification {
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    max-width: 300px;
    position: absolute;
    bottom: 65px;
    right: 10px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
    z-index: 9999 !important;
  }
  
  .notification.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  .notification.success {
    background-color: #4CAF50;
  }
  
  .notification.error {
    background-color: #F44336;
  }
  
  .notification.warning {
    background-color: #FF9800;
  }
  
  .notification.info {
    background-color: #2196F3;
  }
  
  .notification .close-btn {
    margin-left: 10px;
    cursor: pointer;
  }
#terminal {
  font-family: 'Ubuntu Mono';
  user-select: text;
}
.output {
  color: #b0b0b0;
}
.input {
  display: flex;
  background: #1e1e1e;
  border: none;
  outline: none;
  color: #ffffff;
  flex-grow: 1;
  border-radius: 0px !important;
}
.ti {
  border-radius: 0px;
  border: 0;
  background-color: #1e1e1e;
  flex-grow: 1;
}
.prompt {
  margin-right: 5px;
  margin-top: 8px;
}

.ribbon {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #ddd;
  position: absolute;
  left: 0;
  top: 36px;
  padding: 10px;
  width: calc(100% - 20px);
}

.lx {
  background-color: #366caa;
}
.cl {
  background-color: #1f8657;
}

#spreadsheet input{
  background-color: white !important;
  color: black !important;
}

.spreadsheet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  margin-top: 90px;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}
tbody {
}
th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
td input {
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
}
td input:focus {
  background-color: #e8f0fe;
}
.buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
.fis {
  display: none;
}

.ribbon button, .ribbon select {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 2px;
  color: black;
  min-width: 5px !important;
}

.ribbon button:hover {
  background-color: #e6e6e6;
}

.editor {
  margin-top: 100px !important;
  width: 100%;
  height: 300px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

#emb {
  top: 37px;
  left: 0;
  position: absolute !important;
  width: 100%;
  color: white !important;
  height: calc(100% - 37px);
  border: none;
}