@import url("https://dsans.davidstudios.uk/css2.css");

@font-face {
  font-family: "opendyslexic";
  src: url("http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "opendyslexic";
  src: url("http://dyslexicfonts.com/fonts/OpenDyslexic-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "opendyslexic";
  src: url("http://dyslexicfonts.com/fonts/OpenDyslexic-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "opendyslexic";
  src: url("http://dyslexicfonts.com/fonts/OpenDyslexic-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: eulexia;
  src: url("http://dyslexicfonts.com/fonts/eulexia.ttf");
}

:root[data-theme="dark"] {
  --text-color: #ffffff;
  --bg-color: #2f2f2f;
  --bg-color-darker: 0, 0, 0;
  --invert: 0;
}

:root[data-theme="light"] {
  --text-color: #000000;
  --bg-color: #f0f0f0;
  --bg-color-darker: 255, 255, 255;
  --invert: 1;
}

body {
  background-image: url("assets/wp.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text-color);
  font-family: "Inter", "DSans Regular", system-ui, Roboto, Oxygen, Ubuntu,
    Cantarell, "Vazirmatn", "opendyslexic", sans-serif;
}

* {
  box-sizing: border-box;
}
html,
body {
  cursor: url("./cursor/cursor.cur"), default;
  cursor: url("./cursor/cursor.cur"), auto;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.wb-body {
  background-color: #202020;
  border-radius: 10px;
}
.wb-full {
  display: none;
  background-color: var(--bg-color);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}
.winbox.eclipsemono {
  /* background: var(--bg-color-darker); */
  background: rgba(var(--bg-color-darker), 0.5);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}
.winbox.eclipselock {
  background: var(--bg-color-darker);
}
.noshadow.winbox {
  box-shadow: unset !important;
}
.winbox.eclipselock .wb-body {
  color: var(--text-color);
  background: var(--bg-color-darker);
}

.winbox.eclipsemono .wb-body {
  color: var(--text-color);
  background: var(--bg-color);
}
.winbox.eclipsemono .wb-title {
  color: var(--text-color);
}
.winbox.eclipsemono .wb-control {
  filter: invert(var(--invert));
}
.bar {
  position: fixed;
  height: 45px;
  bottom: 0;
  width: 99%;
  opacity: 0.9;
  background-color: #0000004f;
  display: flex;
  align-items: center;
  justify-content: stretch;
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(23, 22, 22, 0.5);
  outline: 1px solid rgba(20, 20, 20, 0.5);
}

.winbox {
  border-radius: 10px; /* Rounded corners added here */
  animation: popUp 0.3s forwards;
}

@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.wb-title {
  font-family: "Inter", "DSans Regular", system-ui, Roboto, Oxygen, Ubuntu,
    Cantarell, "Vazirmatn", sans-serif;
  font-size: 14px; /* Adjust the font size as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wb-bottom-window-class {
  border-radius: 10px;
}

#Teresa {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

#tabs button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
  cursor: pointer;
  width: 75%;
}

#content {
  flex: 1;
  text-align: center;
  padding: 20px;
}

#bottom-menu {
  background-color: #444; /* Different color for the bottom menu */
  padding: 10px;
  position: sticky;
  bottom: 1;
  text-align: center;
}

#bottom-menu button {
  background-color: #666; /* Different color for the bottom menu buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bar p {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.bar span {
  margin-right: 10px;
}

.context-menu {
  position: fixed;
  /*text-align: center;*/
  background: #0e0f0f;
  border: 1px solid #0000004f;
  z-index: 999999;
  border-radius: 5px;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.context-menu {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
  display: flex;
  border-radius: 7px;
  flex-direction: column;
  background-color: #0000004f;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
}

.context-menu a {
  padding: 5px 4px;
  /*border: 1px solid #2f2f2f;*/
  color: #ffffff;
  text-decoration: none;
  border-radius: 7px;
  cursor: url("cursor/pointer.cur"), pointer;
  font-size: 12px;
}

.context-menu a:hover {
  background-color: #1d1e1f4f;
}

button,
input {
  appearance: none;
  font: inherit;
  padding: 6px 12px;
  border-radius: 10px;
  color: #ffffff;
  background: #1d1e1f;
  border: 1px solid #2f2f2f;
  outline: none;
  cursor: pointer;
}
button:hover,
input:hover {
  background-color: #1d1e1f;
}
/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #353535 radial-gradient(circle, transparent 1%, #5d5d5d 1%)
    center/15000%;
}
.ripple:active {
  background-color: #ffffff;
  background-size: 100%;
  transition: background 0s;
}
select {
  font: inherit;
  padding: 6px 12px;
  border-radius: 5px;
  color: #ffffff;
  background: #1d1e1f;
  border: 1px solid #2f2f2f;
  outline: none;
  cursor: pointer;
}
select:hover {
  background-color: #1d1e1f;
}
a {
  cursor: url("cursor/pointer.cur"), pointer;
}
img {
  cursor: url("cursor/pointer.cur"), pointer;
}
[data-theme="light"] #samba > #menu {
  background-color: #e6e6e6a0 !important;
}
[data-theme="light"] input::placeholder {
  color: #0000005f;
}
[data-theme="light"] .puitablecell {
  background: #ffffff5f !important;
}
html.hideqs .bar #neny {
  display: none;
}
body {
  background: rgb(67, 9, 121);
  background: linear-gradient(
    45deg,
    rgba(67, 9, 121, 1) 24%,
    rgba(0, 108, 255, 1) 100%
  );
}
